.sticky-menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color:#dcdcdc;
}
.margen_top_menu{
    margin-top:80px;
}

/* sector boton NUEVO */
.boton_nuevo{
    margin: 5px;
}

/* efecto boton NUEVO */
.btn-animate {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-animate:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño del botón */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Agrega una sombra */
}

/* footer */
.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
.copy p{
    line-height:4px;
}
