.sticky-menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color:#dcdcdc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.margen_top_menu{
    margin-top: 110px;
}


/* formulario editar y nuevo producto */
.style_form{
    background-color: aliceblue;
    margin: 10px auto ;
    width: 550px;
    padding: 20px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
}


/* sector boton NUEVO */
.boton_nuevo{
    margin: 5px;
}
.boton_margen{
    margin: 5px;
}

.boton_margen a{
    color: #fff;
    text-decoration: none;
}


/* efecto boton NUEVO */
.btn-animate {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-animate:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño del botón */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Agrega una sombra */
}

tr img {
    transition: transform 0.5s ease;
  }
tr:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }



/* footer */
.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
.copy p{
    line-height:4px;
}
.designer{
    font-size: 10px;
}




/* efecto para las imagenes en UPDATE */
@keyframes caida-rebote {
    0% {
        transform: translateY(-20%);
        animation-timing-function: ease-out;
      }
      25% {
        transform: translateY(0);
        animation-timing-function: ease-in;
      }
      40% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
      }
      50% {
        transform: translateY(0);
        animation-timing-function: ease-in;
      }
      60% {
        transform: translateY(-5%);
        animation-timing-function: ease-out;
      }
      70% {
        transform: translateY(0);
        animation-timing-function: ease-in;
      }
      80% {
        transform: translateY(-2%);
        animation-timing-function: ease-out;
      }
      90% {
        transform: translateY(0);
        animation-timing-function: ease-in;
      }
      100% {
        transform: translateY(0);
      }
    }

    .image {
      animation: caida-rebote 1.5s;
      transform-origin: center bottom;
      animation-fill-mode: both;
    }
